@font-face {
   font-family: lg !important;
   src: url(fonts/lg.woff2) format("woff2"), url(fonts/lg.ttf) format("truetype"), url(fonts/lg.woff) format("woff"),
      url(fonts/lg.svg) format("svg") !important;
   font-weight: 400;
   font-style: normal;
   font-display: block;
}
