// Colors
$green_linear: linear-gradient(#56811d, #94b26b);
$green_hover: #2e6b18;
$green_dark: #37811d;

$green_light: #8eb343;
$black: #2c2c2c;
$gray_middle: #adadad;
$gray_light: #e9e9e9;
$gray_light_2: #f2f2f2;
$gray_light_3: #f9f9f9;
$white: #ffffff;

// цвета квартир
$green_room: #cee3c8;
$blue_room: #d3def0;
$beige_room: #f8e0c4;
$green_2_room: #bae19b;
$pink_room: #f0daf5;
$red_room: #fbc7c7;
$purple_room: #dccff9;
$green_hover_room: #69904a;
$blue_hover_room: #6b88b1;
$beige_hover_room: #ddad75;
$green_hover_room: #69904a;
$pink_hover_room: #b491bc;
$red_hover_room: #d87171;
$purple_hover_room: #8271a9;
